/* Mobile design */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f7f7f9;
  }

  /* nav-bar and header section */
  .header1 {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 7;
    padding-top: 24px;
    background-color: #fff;
  }

  .main {
    background-image: url(Images/header-shapes\ mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 40px;
    border: 1px solid #dfe1e6;
    border-top: none;
    width: auto;
    height: 712px;
    background-color: #fff;
  }

  .logo {
    color: #6070ff;
    font-size: 18px;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-left: 24px;
    position: fixed;
  }

  .container-link {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .fa-bars {
    cursor: pointer;
    color: #6070ff;
    font-size: 18px;
    position: fixed;
    right: 2.6rem;
    top: 1.5rem;

  }


  .title {
    padding-inline: 24px;
    padding-top: 124px;
    width: auto;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: #172b4d;
    order: 0;
    flex-grow: 0;
    margin-left: -1px;
  }

  .parrafo {
    width: auto;
    padding-inline: 24px;
    position: relative;
    top: -30px;
  }

  p {
    margin-top: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #344563;
  }

  .connect {
    height: 24px;
    padding-inline: 24px;
    margin-top: 5px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    color: #7f8cff;
    position: relative;
    top: -40px;
  }

  .connect2 {
    font-weight: 400;
  }

  .socialMedia {
    padding-inline: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #505f79;
    margin-top: 12px;
    align-items: flex-start;
    position: relative;
    top: -45px;
  }

  li {
    list-style: none;
  }

  /* Work section / main section / project-1 */

  .works-section {
    display: grid;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -5px;
  }

  .project-1 {
    width: auto;
    height: 552px;
    background: #fff;
    margin-top: 114px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    display: flex;
    flex-direction: column;
  }

  .snapshot {
    width: auto;
    height: 220px;
    margin: 16px 16px 0 16px;
    border-radius: 8px;
  }

  .snapshot-1 {
    display: none;
  }

  .work-info-container {
    width: auto;
    height: auto;
    background: #fff;
    margin-left: 16px;
    margin-right: 16px;
  }

  .work-title-desktop {
    display: none;
  }

  .work-title {
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 12px;
  }

  .work-title h2 {
    height: 36px;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  /* work-detail */

  .work-detail {
    height: 16px;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .work-detail-1 {
    width: 55px;
    height: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #344563;
  }

  .work-detail-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #7a869a;
  }

  .work-detail-3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: #7a869a;
  }

  .work-information-box {
    margin-top: 20px;
  }

  .work-infomation {
    font-size: 15px;
    line-height: 26px;
    color: #344563;
    height: 76px;
  }

  /* Lenguages */

  .technologies {
    height: 24px;
    padding: 0;
    gap: 8px;
    display: flex;
    align-items: center;
    margin-top: 18px;
  }

  .technologies li h3 {
    color: #6070ff;
    font-size: 12px;
    font-weight: 500;
  }

  .technologies-1 {
    background-color: #ebebff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 57px;
  }

  .technologies-2 {
    background-color: #ebebff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 49px;
  }

  .technologies-3 {
    background-color: #ebebff;
    padding: 0 0 0 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 92px;
  }

  /* Button */

  .botton {
    width: 126px;
    height: 48px;
    margin-top: 25px;
  }

  .botton button {
    width: 126px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(83, 0, 213);
    color: white;
  }

  /* Project 2 */

  .project-2 {
    width: auto;
    height: 596px;
    background: #fff;
    margin-top: 114px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    display: flex;
    flex-direction: column;
  }

  .work-info-container-2 {
    width: auto;
    height: auto;
    background: #fff;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
  }

  .work-title-2 {
    width: 295px;
    height: 80px;
  }

  .work-title-2 h2 {
    height: 44px;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 44px;
    margin-top: 0;
  }

  /* About my self section */

  .about-my-self {
    width: auto;
    height: 1263px;
    margin-top: 114px;
    border-radius: 0 80px 0 0;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    padding-top: 70px;
  }

  .about-my-self-container {
    width: auto;
    height: 27rem;
    margin-left: 24px;
    margin-right: 24px;
    background-color: #fff;
    overflow: hidden;
  }

  .title2 {
    width: auto;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 1.2;
    display: flex;
    align-items: center;
    color: #172b4d;
    order: 0;
    flex-grow: 0;
    margin-left: -1px;
  }

  .parrafo2 {
    width: auto;
    margin-top: -30px;
    margin-bottom: 0px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    color: #344563;
  }

  .connect3 {
    height: 24px;
  }

  h4 {
    font-size: 15px;
    font-weight: 400;
    color: #7f8cff;
    margin: 0;
    padding: 0;
  }

  .socialMedia1 {
    padding-inline: 12px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    color: #505f79;
    align-items: flex-start;
    margin-top: 20px;
  }

  .container-last-botton {
    width: 126px;
    margin-top: 25px;
  }

  .container-last-botton-1 {
    width: 155px;
    margin-top: -15px;
    border-radius: 8px;
  }

  .last-botton-son1 {
    width: 155px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    margin-top: 35px;
  }

  .last-botton1 {
    width: 155px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #396df2;
    margin-top: 20px;
    cursor: pointer;
  }

  .languaje {
    margin-left: 36px;
    margin-right: 36px;
    margin-top: -10px;
  }

  .lenguaje1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    padding: 0;
  }

  .lenguaje11 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 290px;
    padding: 0;
    margin: 0;
  }

  .languaje5 {
    height: auto;
    margin-left: 36px;
    width: 320px;
    margin-top: 24px;
    color: #000;
    display: flex;
    align-items: center;
  }

  .languaje6 {
    height: auto;
    width: 320px;
    padding: 0;
    margin-top: 12px;
    margin-left: 36px;
    display: flex;
    align-items: center;
  }

  .i {
    transform: rotate(90deg);
    margin-right: 40px;
    cursor: pointer;
  }

  .i2 {
    margin-right: 40px;
    cursor: pointer;
  }

  .l {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .languages {
    height: auto;
    width: auto;
    margin-left: 36px;
    margin-right: 36px;
    align-items: center;
    margin-top: 30px;
  }

  .javaScrip {
    width: 100%;
    height: 66.72px;
    padding: 0;
    background: #f7f7f9;
    border-radius: 8px;
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .html1 {
    background: #f7f7f9;
    border-radius: 8px;
    width: 100%;
    padding: 0;
    display: flex;
    gap: 12px;
    height: 66.72px;
    align-items: center;
  }

  .css1 {
    background: #f7f7f9;
    border-radius: 8px;
    width: 100%;
    display: flex;
    gap: 12px;
    height: 66.72px;
    align-items: center;
    padding: 0;
  }

  .j {
    width: 215px;
    height: 24px;
    font-weight: 500;
    font-size: 15px;
    float: right;
    margin-right: 12px;
    color: #253858;
  }

  .h {
    width: 215px;
    height: 24px;
    font-weight: 500;
    font-size: 15px;
    float: right;
    margin-right: 12px;
    color: #253858;
  }

  .c {
    width: 215px;
    height: 24px;
    font-weight: 500;
    font-size: 15px;
    float: right;
    margin-right: 12px;
    color: #253858;
  }

  .icon1 {
    margin-left: 12px;
  }

  .line {
    width: 80%;
    margin-left: 36px;

  }

  .line2 {
    width: 80%;
    margin-left: 36px;

  }

  .title-2 {
    font-size: 42px;
  }

  /* fotter */
  .footer-container {
    margin-top: -12rem;
    width: 100%;
    height: 779px;

    background-color: #6070ff;
    border-radius: 80px 0 0 0;
    border: 1px solid #dfe1e6;
    background-image: url(./images/contact\ form.png);
    background-position-x: calc(94% + 10px);
    background-position-y: calc(-10px);
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-footer {
    width: 100%;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 103px;
    margin-bottom: 0;
  }

  .title-informations {
    width: auto;
    height: 137px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
  }

  .input-container {
    width: 100%;
    height: auto;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
  }

  input:focus {
    outline: none;
  }

  .input-text {
    width: auto;
    height: 48px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .input-text-box {
    width: 273px;
    height: 18px;
    margin-left: 16px;
    border: none;
    background: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .input-text2 {
    width: 273px;
    height: 18px;
    margin-left: 16px;
    border: none;
    background: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .input-container-last {
    width: auto;
    height: 170px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
  }

  .input-text3 {
    width: 273px;
    height: 140px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    border: none;
    outline: none;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .footer-botton {
    width: 142px;
    height: 48px;
    margin-top: 8px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    background-color: #fff;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  /* DISPLAY NONE ==================================================================================================== */
  .work-detail-1-dekstop,
  .work-detail-2-desktop,
  .work-detail-3-desktop,
  .work-title-desktop,
  .work-infomation-dekstop,
  .technologies-4-desktop,
  .work-title-desktop-2 {
    display: none !important;
  }
}

/* ==================================================================================================================== */

/* DESKTOP DESIGN */
@media screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #f7f7f9;
  }

  .header-desktop {
    width: 100%;
    height: 72px;
    background: transparent;
  }

  .nav {
    display: none;
  }
  .fa-bar-box{
    display: none;
  }

  .logo-desktop {
    text-decoration: none;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    position: absolute;
    top: 25px;
    left: 155px;
  }

  .container-link {
    display: flex;
    float: right;
    margin: 25px 155px 0 0;
    gap: 32px;
    list-style: none;
    padding-left: 0;
  }

  .links {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  .header-container-desktop {
    width: 100%;
    height: 916px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 140px;
    background: #fff;
    background-image: url(./Images/Header\ bg.png);
    background-repeat: no-repeat;
    background-position-x: calc(10%);
    background-position-y: calc(130px);
    overflow: hidden;
  }

  .main-desktop {
    width: 100%;
    height: 844px;
    background: transparent;
    padding: 0;
    margin: 0;
  }

  .title-dekstop {
    height: 122px;
    width: 63.89%;
    position: relative;
    top: 241px;
    left: 225.4px;
    right: 252px;
    bottom: 358.46px;
  }

  .title-dekstop-h1 {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    padding-top: 0;
    animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from {
      margin-left: 50%;
      width: 50%;
    }

    to {
      margin-left: 0%;
      width: 50%;
    }
  }

  .parraro-desktop {
    height: 98px;
    width: 63.89%;
    position: relative;
    top: 241px;
    left: 225.4px;
    bottom: 252px;
    right: 248px;
  }

  .p-desktop {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .connect-desktop {
    position: relative;
    top: 241px;
    left: 225.4px;
    height: auto;
    width: 150px;
  }

  .connect-desktop-h3 {
    width: auto;
    height: 24px;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .social-desktop-ul {
    width: 200px;
    display: flex;
    position: relative;
    top: 241px;
    left: 225.4px;
    padding: 0;
    color: #505f79;
    gap: 19.1px;
  }

  li {
    list-style: none;
  }

  /* WORK SECTION */
  .main-container-desktop {
    background-color: #f7f7f9;
    margin-top: 142px;
    width: auto;
    height: auto;
  }

  .works-section-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 142px 0 142px;
  }

  .project-1-desktop {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    border-radius: 24px;
    width: 92%;
    max-width: 1156px;
    height: auto;
    max-height: 496px;
  }

  .work-info-container-desktop {
    margin: 0 0 0 46px;
    width: 92%;
    height: auto;
  }

  /* Images */

  .snapshot {
    display: none;
  }

  .snapshot-1 {
    width: 100%;
    max-height: 448px;
    height: 100%;
    min-width: 300px;
  }

  .work-title-mobile {
    display: none;
  }

  .work-title-desktop {
    padding: 0;
    margin: 24px 0 0 0;
    height: 46px;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work-detail-desktop {
    width: auto;
    height: auto;
    max-height: 24px;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
  }

  .work-detail-1-dekstop {
    width: auto;
    height: auto;
    max-height: 24px;
    padding: 0;
    margin: 0 12px 0 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .dok {
    padding: 0;
    margin: 0 12px 0 0;
  }

  .li-desktop {
    padding: 0;
    margin: 0;
  }

  .work-detail-2-desktop,
  .work-detail-3-desktop {
    width: auto;
    height: auto;
    max-height: 24px;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    padding: 0;
    margin: 0 12px 0 0;
  }

  .work-information-box-dekstop {
    padding: 0;
    margin: 0;
  }

  .work-infomation-dekstop {
    padding: 0;
    margin: 32px 0 0 0;
    max-width: 496px;
    width: auto;
    height: auto;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  /* tecnologies section */
  .technologies-desktop {
    width: auto;
    height: auto;
    display: flex;
    padding: 0;
    margin: 24px 0 0 0;
    gap: 8px;
  }

  .technologies li h3 {
    color: #6070ff;
    font-size: 12px;
    font-weight: 500;
  }

  .technologies-1-desktop {
    background-color: #ebebff;
    padding: 0 0 0 0;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 53px;
  }

  .technologies-2-desktop {
    background-color: #ebebff;
    padding: 0 0 0 0;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 45px;
  }

  .technologies-3-desktop {
    background-color: #ebebff;
    padding: 0 0 0 0;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 89px;
  }

  .technologies-4-desktop {
    background-color: #ebebff;
    padding: 0 0 0 0;
    margin: 0;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 89px;
  }

  .botton-desktop {
    width: 126px;
    height: 48px;
    margin-top: 25px;
  }

  .botton-desktop button {
    width: 126px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: rgb(83, 0, 213);
    color: white;
  }

  .boxes {
    margin: 142px 0 0 0;
  }

  .box3 {
    margin-top: 142px;
  }

  /* PROJECT-2 COMPONET */
  .project-2-desktop {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    border-radius: 24px;
    width: 92%;
    height: auto;
    max-width: 1156px;
    max-height: 496px;
    margin-top: 142px;
  }

  .work-info-container-desktop-2 {
    margin: 0 22px 0 24px;
    width: auto;
    height: auto;
    min-width: 370px;
    display: flex;
    flex-direction: column;
  }

  .work-title-2-desktop {
    padding: 0;
    margin: 24px 0 0 0;
    width: auto;
    height: auto;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .work-title-desktop-2 {
    padding: 0;
    margin: 24px 0 0 0;
    height: auto;
    width: auto;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .snapshot-2 {
    width: 100%;
    max-height: 448px;
    height: 100%;
    min-width: auto;
  }

  /* about myself section */
  .about-my-self {
    background-color: #fff;
    width: 100%;
    height: 924px;
    margin: 142px 0 0 0;
    border: 1px solid #dfe1e6;
    border-radius: 0 140px 0 0;
  }

  .container-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box-main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 142px 142px 0 0;
  }

  .about-my-self-container {
    height: auto;
    width: auto;
    min-width: 240px;
    margin: 166px 32px 0 143px;
  }

  .title-about-myself {
    width: auto;
    height: auto;
  }

  .title-2 {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    padding-top: 0;
    animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from {
      margin-left: 50%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .parrafo2-dekstop p {
    margin: 12px 0 0 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    width: auto;
    height: auto;
  }

  .connect3 {
    width: auto;
    height: auto;
  }

  .connect3 h4 {
    margin: 12px 0 0 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .socialMedia1-desktop {
    display: flex;
    padding: 0;
    margin: 26px 0 0 0;
    gap: 21px;
  }

  .socialMedia1-desktop li a img {
    margin: 0;
    padding: 0;
  }

  .container-last-botton-1-desktop {
    margin: 24px 0 0 0;
  }

  .last-botton-son1-desktop {
    width: 155px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #396df2;
    background-color: transparent;
    border: 1px solid #6070ff;
    border-radius: 8px;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
  }

  .lenguaje1 {
    padding: 0;
    margin: 24px 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
  }

  .languages-desktop {
    display: flex;
    padding: 0;
    margin-top: 24px;
    width: auto;
    height: auto;
  }

  .javaScrip {
    margin-left: 12px;
    height: 77%;
    width: 31%;
    max-width: 122px;
    min-width: 90px;
    border-radius: 8px;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .html1 {
    margin-left: 12px;
    height: 77%;
    width: 31%;
    max-width: 122px;
    min-width: 90px;
    border-radius: 8px;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .css1 {
    margin-left: 12px;
    height: 77%;
    width: 31%;
    max-width: 122px;
    min-width: 90px;
    border-radius: 8px;
    background: #f7f7f9;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .j,
  .h,
  .c {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .l {
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
    width: auto;
    height: auto;
  }

  ul.javaScrip {
    padding: 12px 0 0 12px;
  }

  ul.html1 {
    padding: 12px 0 0 12px;
  }

  ul.css1 {
    padding: 12px 0 0 12px;
  }

  .languaje5 {
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
  }

  .lenguaje11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 24px;
    margin: 0;
    width: auto;
    height: auto;
  }

  .i2,
  .fa-chevron-right {
    margin-right: 42px;
    cursor: pointer;
    width: auto;
    height: auto;
  }

  .i2 {
    transform: rotate(90deg);
  }

  .line,
  .line2 {
    width: 100%;
    height: auto;
    font-size: 0.5px;
  }

  .footer-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 846px;
    top: 4290px;
    background-color: #6070ff;
    border-radius: 140px 0 0 0;
    border: 1px solid #dfe1e6;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Images/contact-form-desktops.png);
    background-size: contain;
    background-position: 50%;
    background-position-y: 70px;
  }

  .title-footer {
    width: 100%;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 142px;
    margin-bottom: 0;
  }

  .title-informations {
    width: 569px;
    height: auto;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    text-align: center;
  }

  .input-container {
    width: 100%;
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }

  input:focus {
    outline: none;
  }

  .input-text {
    width: auto;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }

  .input-text-box {
    width: 450px;
    height: 18px;
    margin-left: 16px;
    border: none;
    background: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .input-text2 {
    width: 273px;
    height: 18px;
    margin-left: 16px;
    border: none;
    background: #fff;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .input-container-last {
    width: auto;
    height: 170px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
  }

  .input-text3 {
    width: 393px;
    height: 140px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 15px;
    border: none;
    outline: none;
    font-family: 'Poppins', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .footer-botton {
    width: 142px;
    height: 48px;
    margin: auto;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    background-color: #fff;
    color: #396df2;
    border: 1px solid #6070ff;
    border-radius: 8px;
  }

  /* DISPLAY NONE ==================================================================================================== */
  .work-detail-1,
  .work-detail-2,
  .work-detail-3,
  .work-infomation {
    display: none;
  }
}

/* Mobile menu */

.mobile-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(96, 112, 255, 0.8);
  backdrop-filter: blur(6px);
  display: none;
}

.icon-x {
  display: flex;
  justify-content: end;
}

.icon-x i {
  margin: 1.6rem 2.7rem 0 0;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  font-weight: 600;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: end;
  align-items: start;

}

.options {
  color: #fff;
  font-size: 2rem;
}

.mobile-menu ul {
  display: grid;
  padding: 0 0 0 9%;
  grid-template-rows: auto auto auto;
  align-content: start;
  gap: 1.2rem;
}

.mobile-menu ul li {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  width: 50%;
}
